html {
    font-size: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

body {
    background: #2c2c2c;
    color: #f7f7f7;
    margin: 3rem;
}

img {
    max-width: 100%;
    padding: .5rem;
}

h1 {
    text-align: center;
    font-family: 'Georgia', serif;
}

p {
    font-family: 'Trebuchet MS', sans-serif;
    width: 40%;
    margin: auto;
    display: block;
    padding: 1rem;
}

audio {
    margin: auto;
    padding: .25rem;
    display: none;
}

/*Links*/

a {
    color: #ff6a6a;
}

a:hover {
    color: #ffc0c0;
}

/*Specific Tags*/

#changetext {
    font-weight: bold;
}

#tylerjosh {
    margin: auto;
    display: block;
}

#contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cover {
    cursor: pointer;
}

/*Media Queries*/

@media screen and (max-width: 1300px){
    #contain {
        display: block;
    }
    img {
        margin: auto;
        display: block;
    }
}

@media screen and (max-width: 800px){
    body {
        margin: 1rem;
    }

    p {
        padding: 1rem;
        width: 98%;
    }
}